source https://www.nuget.org/api/v2
framework >= net45

nuget FAKE
nuget WebSharper.Suave 3.6.4.30
nuget WebSharper.UI.Next 3.6.6.202
nuget Microsoft.Owin.Security.Cookies
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.AspNet.Identity.Owin